<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background: hotpink;
        }
    </style>
    <script>
        alert("app2에 오신 것을 환영합니다!!")
    </script>
</head>
<body>
<h1>app2 start page</h1>
<hr>
<h2>나의 수강 과목은 {{ subject }}<br>
나의 수강 교실은 {{ class }}입니다!</h2>
<hr>
{# http header에 주소와 함께 따라감 (서버에 요청) #}
<a href="/start3?n1=100&n2=300&subject={{ subject }}">to start3</a><br>
<a href="/start3?n1=1111&n2=3333&subject={{ subject }}">to start3</a><br>
<a href="/start3?n1=5555&n2=1111&subject={{ subject }}">to start3</a><hr>
<form action="start4" method="post">
    {% csrf_token %} {# 토큰이 있는 client만 start4 요청 가능 #}
    n1 : <input name="n1" value="2222"><br>
    n2 : <input name="n2" value="3333"><br>
    <input type="hidden" name="subject" value="{{ subject }}"> {# 숨겨서 보냄 #}
    <button style="background: aqua; font-family: AppleGothic; font-weight: bold">서버로 계산 요청</button>
</form>
</body>
</html>