<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function () {
            $('#b1').click(function () {
                userValue = $('#userId').val() //document.getElementById('n1').value#}
                console.log(userValue.length + "님 환영합니다.")
                userLengh = userValue.length
                if (userLengh >= 4){
                    location.href = "http://www.naver.com"
                }else{
                    alert('4글자 미만입니다. 다시 입력해주세요.')
                    $('#userId').val('')
                }
                //4글자 이상이 아니면, 경고창을 띄워주세요.
                //                   입력한 값 제거
                //4글자 이상이면, 네이버로 넘겨주세요.
            })
            $('#b2').click(function () {
                //b2완성
                n1Value = $('#n1').val()
                n2Value = $('#n2').val()
                n1Value2 = parseInt(n1Value)
                n2Value2 = parseInt(n2Value)
                result = n1Value2 + n2Value2
                $('div').html('두수의 합은 ' + result)
            })
        })
    </script>
</head>
<body>
<input name="userId" id="userId" value="root"><br>
<button id="b1">아이디 제출 버튼</button>
<hr>
숫자1 : <input name="n1" id="n1" value="5555"><br>
숫자2 :  <input name="n2" id="n2" value="2222"><br>
<button id="b2">두 수의 합</button>
<hr color="blue">
<div style="color: red"></div>
</body>
</html>